{
  "processors": [
    "stylelint-processor-styled-components"
  ],
  "extends": [
    "stylelint-config-schoenwaldnils",
    "stylelint-config-styled-components"
  ],
  "ignoreFiles": [
    "**/*.css"
  ],
}
